<!DOCTYPE html>
<html lang="zh-TW">
<%- partial('_partial/head') %>
<body class="layout-layout-background">
  <%- partial('_partial/header') %>
  <div class="layout-layout-content">
    <%- body %> 
  </div>
  <%- partial('_partial/footer') %>
  <%- partial('_partial/after-footer') %>
  <%- js('js/script.js') %>
</body>
</html> 
